.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





body{
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}
h2{
  text-align: center;
  color: rgb(181, 31, 31);
  text-decoration: underline;
  margin: 0;
}
/*меню*/
.menu{
  position: fixed;
  background-color: rgb(37, 144, 85);
  text-align: center;
  width: 100%;
  z-index: 200;
}
.menu a{
  font-size: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 7px 17px;
}
/*заголовок*/
.header{
  position: relative;
  background-image: url(components/img/background.jpg);
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.header h1{
  font-weight: bold;
  font-style: italic;
  font-size: 46px;
}
.header p{
  position: absolute;
  bottom: 20px;
  right: 60px;
}
/*факты*/
.facts{
  background-color: rgb(122, 178, 125);
  padding: 30px 0px;
}
.facts li{
  padding: 10px;
}
.white{
  font-weight: bold;
}
.black{
  font-style: italic;
}
/*Галерея*/
.gallery{
  padding: 30px 0;
}
.images{
  width: 1100px;
  margin: 0 auto;
}
.images img{
  margin: 20px;
  border: 3px solid;
}
#img_1{
  border-color: red;
}
#img_2{
  border-color: green;
}
#img_3{
  border-color: yellow;
}
#img_4{
  border-color: blue;
}
/*Форма*/
.feedback{
  background-color: rgb(122, 178, 125);
  padding: 30px 0;
}
.feedback form{
  margin: 20px auto;
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 3px solid rgb(100, 156, 103);
}
input, textarea, select{
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  background-color: rgb(122, 178, 125,);
  color: black;
  outline: none;
/*  height: 13px;*/
  font-size: 20px;
  border-radius: 6px;
}
.button{
  background-color: red;
  color: white;
}
label{
  display: block;
  margin-top: 15px;
  font-size: 20px;
}
#topic{
}